<%= form_for :users, url: user_path, method: :patch do |f| %>
  <h1><%= @user.name %></h1>
  <label><%= f.radio_button :place, 0 %> 在室 </label>
  <label><%= f.radio_button :place, 1 %> 教室 </label>
  <label><%= f.radio_button :place, 2 %> 食堂 </label>
  <label><%= f.radio_button :place, 3 %> 校内 </label>
  <label><%= f.radio_button :place, 4 %> 帰宅 </label>
  <br>
  <%= f.submit %><br>
<% end %> 
